* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #444;
  padding: 20px 25px;
  font-family: "PT Sans", "Lucida Grande", sans-serif;
}

h1, h2, div {
  font-weight: bold;
  text-align: center;
  color: #6ee;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .5), 0px 1px 3px rgba(0, 0, 0, .2);
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

div {
  font-size: 72pt;
  color: #ee6;
}
